.bg{
    width: 100%;
    height: 100vh;
    /* background-image: url(../../Assets/Images/Background.jpg); */
    /* background-color: red; */
    object-fit: cover;
}
.blend{
    width: 100%;
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.8);
    opacity:1;
}
.Nav{
    width: 75%;
    height: 60px;
    margin: 0 auto;
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.Nav img{
    width: 13%;
    height: 65px;
}
.btn{
    width: 25%;
    height: 60px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.btn span{
    display: flex;
    align-items: center;
    background-color: rgb(20,19,17);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0px 6px;
}
.btn span select option{
    color: black;
}
.btn span select{
    width: 100px;
    height: 25px;
    color: white;
    margin-left: 5px;
    outline: none;
    border: none;
    background-color: transparent;
}
.btn button{
    width: 65px;
    height: 25px;
    background-color: rgb(229,9,20);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
.main{
    width: 75%;
    height: 70%;
    margin: 0 auto;
    margin-top: 5%;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.main-1{
    width: 55%;
    height: 30%;
    /* background-color: green; */
    color: white;
    font-size: 50px;
    font-weight:700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.main-2{
    width: 55%;
    height: 15%;
    /* background-color: yellow; */
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.main-2 h6{
    color: rgb(195,195,195);
}
.main-3{
    width: 55%;
    height: 15%;
    /* background-color: greenyellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;  
}
.main-3 input{
    width: 55%;
    height: 45px;
    background-color: rgb(17,17,21);
    border: 1px solid rgb(43,184,113);
    border-radius: 5px;
    color: white;
    padding: 20px;
}
.main-3 button{
    width: 25%;
    height: 45px;
    background-color: rgb(229,9,20);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}
@media (max-width: 768px) {  
    .bg { 
      width: 100%; 
      height: 100vh; 
      object-fit: cover; 
    } 
    .blend { 
      width: 100%; 
      height: 110vh; 
      background-color: rgba(0, 0, 0, 0.8); 
      opacity: 1; 
    } 
    .Nav{ 
      width: 90%; 
      height: 60px;
      /* background-color: rgb(68, 62, 62); */
      margin: 0 auto; 
      display: flex; 
      align-items: center; 
      justify-content: center;
      justify-content: space-between; 
      /* flex-direction: column; */
    } 
    .Nav img { 
      width: 30%; 
      height:50px; 
    } 
    .btn { 
      width: 45%; 
      /* background-color: green; */
      height: 30px;
      display: flex; 
      align-items: center; 
      justify-content: space-between; 
      /* flex-direction: column;  */
      gap: 10px; 
    } 
    .btn span { 
      display: flex; 
      align-items: center; 
      background-color: rgb(20, 19, 17); 
      color: white; 
      border: 1px solid white; 
      border-radius: 5px; 
      padding: 0px 6px; 
      width: 50%; 
    } 
    .btn span select { 
      width: 100%;
      height: 25px; 
      color: white; 
      margin-left: 5px; 
      outline: none; 
      border: none; 
      background-color: transparent; 
      font-size: 14px; 
    } 
    .btn button { 
      width: 110%; 
      height: 28px; 
      background-color: rgb(229, 9, 20); 
      color: white; 
      border: none; 
      border-radius: 5px; 
      font-weight: 700; 
      font-size: 13px; 
    } 
    .main { 
      width: 90%; 
      height: auto; 
      /* background-color: red; */
      margin: 0 auto; 
      margin-top: 55%; 
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      justify-content: center; 
      gap: 20px; 
    } 
    .main-1 { 
      width: 90%;
      height: auto; 
      color: white; 
      font-size: 30px; 
      font-weight: 700; 
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      justify-content: center; 
    } 
    .main-2 { 
      width: 90%; 
      height: auto; 
      color: white; 
      font-size: 16px; 
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      justify-content: center; 
      gap: 15px; 
    } 
    .main-2 h6 { 
      color: rgb(195, 195, 195); 
      text-align: center; 
    } 
    .main-3 { 
      width: 90%; 
      height: auto; 
      display: flex; 
      align-items: center; 
      justify-content: center; 
      flex-direction: column;
      gap: 10px; 
    } 
    .main-3 input { 
      width: 90%; 
      height: 45px; 
      background-color: rgb(17, 17, 21); 
      border: 1px solid rgb(43, 184, 113); 
      border-radius: 5px; 
      color: white; 
      padding: 15px;
      font-size: 16px;
    } 
    .main-3 button { 
      width: 60%; 
      height: 45px; 
      background-color: rgb(229, 9, 20); 
      color: white; 
      display: flex; 
      align-items: center; 
      justify-content: center; 
      gap: 5px; 
      border: none; 
      border-radius: 5px; 
      font-size: 18px; 
      font-weight: 500; 
    } 
  } 
  
