.main1{
    width: 75%;
    height: 15%;
    margin: 0 auto;
    /* background-color: grey; */
}
.main2{
    width: 20%;
    height: 20%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main3{
    width:100%;
    height: 30px;
    color: white;
    /* background-color: rgb(90, 23, 23);  */
}
.main4 {
    width: 100%;
    height: 35px;
    /* background-color: red; */
    display: flex;
    gap: 20px;
}
.main4 select{
    width: 45%;
    height: 35px;
    color: rgb(215,215,215);
    background-color: transparent;
}
.main4 select option{
    color: black;
}
.main5{
    width: 75%;
    height: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
    /* background-color: rgb(187, 149, 149); */
    display: flex;
}

@media (max-width: 768px) { 
    .main1 { 
      width: 90%; 
      height: auto; 
      margin: 0 auto; 
    } 
  .main2 { 
      width: 90%; 
      height: auto; 
      flex-direction: column; 
      gap: 10px; 
    } 
  .main3 { 
      width: 100%; 
      height: auto; 
    } 
  .main4 { 
      width: 100%; 
      height: auto; 
      flex-direction: column; 
      gap: 10px; 
    } 
  .main4 select { 
      width: 40%; 
      /* background-color: red; */
    } 
  .main5 { 
      width: 100%; 
      height: 50%; 
      flex-direction: column; 
    } 
  } 

