.cart{
    width: 15%;
    height: 100%;
    /* background-color: red; */
    position: relative;

}
.cartimg img{
    width: 115%;
    height: 100%;
    border-radius: 10px;
    /* background-color: red; */
}
.cartcont{
    position: absolute;
    bottom: 1px;
    right: -10px;
    font-size: 55px;
    -webkit-text-fill-color:black;
    -webkit-text-stroke: 1px rgb(208,210,214);
}

@media (max-width: 768px) {
    .cart { 
      width: 25%; 
       } 
       .cartcont{
        position: absolute;
        bottom: -10px;
        right: -29px;
        font-size: 35px;
        -webkit-text-fill-color:black;
        -webkit-text-stroke: 1px rgb(208,210,214);
    }
  } 
