.swip{
    width: 90%;
    height: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    /* background-color: rgb(187, 149, 149); */
    display: flex;
    flex-direction: column;
}
.swip h1{
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
    font-size: 20px;
}
.swip img{
    width: 50%;
    height: 90%;
    border-radius: 10px;
}
.swip .swiper {
    width: 100%;
    height: 100%;
    /* background-color: darkblue; */
  }
  
 .swip .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    padding-left: 20px;
    margin-top: 5px;

    /* Center slide text vertically */
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
 .swip .swiper-slide img {
    display: block;
    width: 170px;
    height: 100%;
    object-fit: cover;
  }
 .swip .swiper-button-prev{
    color: white;
    background-color:rgb(51,51,51);
    width: 20px;
    height: 120px;
    size: 20px;
    border-radius: 10px;
    font-size: 10px;
  }
 .swip .swiper-button-next{
    color: white;
    background-color:rgb(51,51,51);
    width: 20px;
    height: 120px;
    size: 20px;
    border-radius: 10px;
  }
  .cartrimg{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    position:relative;

  }
  .cartrimg img{
    width:100%;
    height:100%;
    object-fit:contain;
  }
  .top{
    width: 100%;
    height: 100%;
    display:flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    background: rgb(240,239,245);
    background: linear-gradient(180deg, rgba(240,239,245,0) 35%, rgb(59 130 246 / 0.5) 68%);
    color:black;
    bottom:-100%;
    transition:1s
  }
  .cartrimg:hover .top{
    bottom:0
  }
.top button{
  width: 80px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
}

@media (max-width: 768px) {
  .swip {
      width: 95%;
      height: auto; 
      margin-bottom: 15px; 
  }
  
  .swip h1 {
      font-size: 18px; 
      margin-bottom: 20px;
  }
  
  .swip img {
      width: 90%; 
      height: 200px;
      /* background-color: red; */
  }
  
  .swip .swiper {
    width: 430%;
      height: 100%;
  }
  
  .swip .swiper-slide {
      font-size: 16px; 
      padding-left: 10px; 
      margin-top: 2px;
      flex-direction: column; 
      align-items: center; 
  }
  .swiper-button-prev{
    display: none;
  }
  .swiper-button-next{
    display: none;
  }
  
  .swip .swiper-slide img {
      width: 90%; 
      display: flex;
      gap: 20px;
      height: 435PX;
  }
  
  .swip .swiper-button-prev,
  .swip .swiper-button-next {
      width: 30px; 
      height: 30px; 
      font-size: 12px; 
  }
  
  .cartrimg {
      flex-direction: column; /* Stack items in column for mobile */
  }
  
  .top {
      width: 85%; 
      height: auto; 
      gap: 10px;
      background: none;
  }
  
  .top button {
      width: 70px; /* Adjust button width */
      height: 25px; /* Adjust button height */
  }
}
